@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-6">
        <h2>Fruits</h2>
        @GlobalHelper.ListItems(ViewBag.Fruits)
    </div>
    <div class="col-md-6">
        <h2>Flowers</h2>
        @GlobalHelper.ListItems(ViewBag.Flowers)
    </div>
</div>